.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
